:root {
  --red: #FF4949;
  --black: #000;
  --yellow: #ffc600;
  --white: #fff;
  --grey: #efefef;
}
html {
  background-color: var(--black);
  color: var(--white);
  background-size: 450px;
  font-size: 14px;
}
.buttons-panel {
  width: 400px;
}
.result {
  color: var(--white);
  font-weight: 400;
  font-size: 40px;
  font-family: 'Helvetica';
  text-align: right;
}
/* .columns {
  display: flex
} */