:root {
  --black: #000;
  --white: #fff;
  --grey: #efefef;
}
html {
  background-color: var(--black);
  margin-top: 50px;
  color: var(--white);
  background-size: 450px;
  font-size: 14px;
}
/* .buttons-panel {
  width: 400px;
} */
.result {
  color: var(--white);
  font-size: 40px;
  font-family: 'Helvetica';
  text-align: right;
}

.calculator {
  max-width: 1000px
}

.round {
  border-radius: 50%;
}
